<div class="section-details">
  <h1>Emory University | B.S. Computer Science</h1>
  <p>
    I am expecting to graduate in <strong>May 2022</strong>, and I currently have a GPA
    of <strong>3.9</strong>. I've taken a lot of the CS courses that you'd expect:
  <ul>
    <li>Data Structures & Algorithms
    <li>Foundations of Computer Science
    <li>Artificial Intelligence
    <li>Systems Programming
    <li>Computer Architecture/Machine Level Programming
    <li>Linear Algebra
  </ul>
  </p>
</div>
<div class="user">
</div>
