<div class="section-details">
  <h1>Emory University | B.A. Computer Science</h1>
  <p>
    Graduated <strong>May 2022</strong> with a GPA of <strong>3.88</strong>.
  </p>
  <p>
    I took all of the CS courses that you'd expect:
  <ul>
    <li>Artificial Intelligence
    <li>Systems Programming
    <li>Computer Architecture/Machine Level Programming
    <li>Hacking
    <li>Linear Algebra
    <li>Data Structures & Algorithms
    <li>Foundations of Computer Science
  </ul>
  </p>
</div>
<div class="user">
</div>
