<div class="section-details">
  <h1>Experience</h1>
  <p> I've had some great opportunities to develop my software engineering career!
  <div class="job">
    <h3 class="job-title">
      <strong>Google</strong>, Remote | Student Training in Engineering
      Program Intern
    </h3>
    <h4 class="job-date">05/20 - 08/20</h4>
    <p>
      Worked as part of a team of three to create the travel idea clipping
      product Lobster Ice Cream, a product that gives Chrome desktop users the
      ability to save travel ideas that they encounter while they browse the internet.
      <a target="_blank" href="https://github.com/Sherry2001/lobster-ice">Read more...</a>
    </p>
    <ul>
      <li>Added Google OAuth2 and various React Components to our web app
      <li>Reviewed 41 Pull Requests and optimized team workflow by setting up dev tools
      <li>Tested our Express Server using mocha, chai, and an in-memory MongoDB
    </ul>
    <p>
      Created a personal website made in Java on Google App Engine, HTML/CSS, Javascript, and Google Translate API.
      Users
      can create comments, upload images, and translate other users’ comments.
      <a target="_blank" href="https://github.com/Anthony-Fiddes/step-portfolio">Read more...</a>
    </p>
  </div>
</div>
<div class="user">
</div>
